Student Performance Indicators
==============================
The following indicators are used to measure student performance:
1) Problem statement
The project understand how the student performance is affected by othe variables such  as gender ethinicity. The project also understand the relationship between the variables and the final grade.
2) Data Collection
Dataset cotains 8 columns and 1000 rows

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
!pip install catboost --quiet

In [42]:
!pip install xgboost --quiet

In [43]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import RandomizedSearchCV,train_test_split
from catboost import CatBoostRegressor
import warnings

In [44]:
#from xgboost import XGBRegresssor

In [45]:
df= pd.read_csv('stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [46]:
X=df.drop(columns=["math_score"],axis=1)

In [47]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [48]:
y=df["math_score"]

In [49]:
num_features=X.select_dtypes(exclude="object").columns

In [50]:
num_features

Index(['reading_score', 'writing_score'], dtype='object')

In [51]:
cat_features=X.select_dtypes(include="object").columns
cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [52]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_Transformer=StandardScaler()
oh_Transformer=OneHotEncoder()

preprocessor=ColumnTransformer([
    ("OneHotEncoder",oh_Transformer,cat_features),
    ("StandardScaler",numeric_Transformer,num_features)
])

In [53]:
X=preprocessor.fit_transform(X)

In [54]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((800, 19), (200, 19), (800,), (200,))

In [55]:
def evaluate_model(true,predict):
    mae=mean_absolute_error(true,predict)
    mse=mean_squared_error(true,predict)
    rmse=np.sqrt(mse)
    r2_square=r2_score(true,predict)
    return mae,mse,rmse,r2_square

In [55]:
models={
    "LinearRegression"
}